# Use Custom Template Notebook

In [170]:
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

#Modeling Libs
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import VotingClassifier

from xgboost import XGBClassifier
#from catboost import CatBoostClassifier

from joblib import dump, load
import requests

# Initialize Snowflake Session using Default connection

In [171]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [172]:
table_name = 'AUTO_INSURANCE_CLAIMS_DATA'

In [173]:
sf_df = my_session.sql("select * from {}".format(table_name))

In [174]:
df = sf_df.to_pandas()

In [175]:
df.head()

,MONTHS_AS_CUSTOMER,CUSTOMER_AGE,POLICY_NUMBER,POLICY_BIND_DATE,POLICY_STATE,POLICY_CSL,POLICY_DEDUCTABLE,POLICY_ANNUAL_PREMIUM,UMBRELLA_LIMIT,INSURED_ZIP,...,POLICE_REPORT_AVAILABLE,TOTAL_CLAIM_AMOUNT_PAID,INJURY_CLAIM,PROPERTY_CLAIM,VEHICLE_CLAIM,AUTO_MAKE,AUTO_MODEL,AUTO_YEAR,FRAUD_REPORTED,POLICY_BIND_DATE_CUSTOM
0,132,36,460979,14-08-2005,CT,100/300,712,800,0,431104,...,Police Report Available,65327,11917,9753,43657,Ford,Fusion,2004,Fraud Reported,2005-08-14
1,51,28,460980,30-03-1995,CT,250/500,1230,1708,11098942,473705,...,No Police Report Available,76311,487,4689,71135,Suburu,Legacy,1995,Fraud Reported,1995-03-30
2,38,26,460981,05-01-2002,CT,100/300,1697,2044,11191554,612316,...,Police Report Available,41467,559,1085,39823,BMW,X6,1995,No Fraud Reported,2002-01-05
3,37,48,460982,30-06-2010,CT,250/500,1858,2293,15946216,447560,...,No Police Report Available,58415,17898,968,39549,Ford,F150,2007,Fraud Reported,2010-06-30
4,305,53,460983,19-01-1993,CT,250/500,579,826,0,608758,...,No Police Report Available,73157,325,13230,59602,Saab,92x,2008,No Fraud Reported,1993-01-19

In [176]:
insurance_claim =  df.copy()

In [177]:
insurance_claim = insurance_claim[['MONTHS_AS_CUSTOMER', 'CUSTOMER_AGE', 'POLICY_NUMBER',
       'POLICY_BIND_DATE', 'POLICY_STATE', 'POLICY_CSL', 'POLICY_DEDUCTABLE',
       'POLICY_ANNUAL_PREMIUM', 'UMBRELLA_LIMIT', 'INSURED_ZIP', 'INSURED_SEX',
       'INSURED_EDUCATION_LEVEL', 'INSURED_OCCUPATION', 'INSURED_HOBBIES',
       'INSURED_RELATIONSHIP', 'CAPITAL_GAINS', 'CAPITAL_LOSS',
       'INCIDENT_DATE', 'INCIDENT_TYPE', 'COLLISION_TYPE', 'INCIDENT_SEVERITY',
       'AUTHORITIES_CONTACTED', 'INCIDENT_STATE', 'INCIDENT_CITY',
       'INCIDENT_LOCATION', 'INCIDENT_HOUR_OF_THE_DAY', 'INCIDENT_TIME_OF_DAY',
       'NUMBER_OF_VEHICLES_INVOLVED', 'PROPERTY_DAMAGE', 'BODILY_INJURIES',
       'WITNESSES', 'POLICE_REPORT_AVAILABLE', 'TOTAL_CLAIM_AMOUNT_PAID',
       'INJURY_CLAIM', 'PROPERTY_CLAIM', 'VEHICLE_CLAIM', 'AUTO_MAKE',
       'AUTO_MODEL', 'AUTO_YEAR', 'FRAUD_REPORTED']]

In [178]:
insurance_claim.columns = insurance_claim.columns.str.lower()

In [179]:
insurance_claim.columns

Index(['months_as_customer', 'customer_age', 'policy_number',
       'policy_bind_date', 'policy_state', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'capital_gains', 'capital_loss',
       'incident_date', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_location', 'incident_hour_of_the_day', 'incident_time_of_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount_paid',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year', 'fraud_reported'],
      dtype='object')

In [180]:
insurance_claim.rename(columns = {'total_claim_amount_paid': 'total_claim_amount'}, inplace=True)

In [181]:
insurance_claim=insurance_claim.replace("?",np.NaN)

In [182]:
df = insurance_claim.copy()

In [183]:
actual_inference = df.copy()
actual_inference.drop('fraud_reported', axis = 1, inplace=True)

In [184]:
actual_inference.head()

,months_as_customer,customer_age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year
0,132,36,460979,14-08-2005,CT,100/300,712,800,0,431104,...,1,0,Police Report Available,65327,11917,9753,43657,Ford,Fusion,2004
1,51,28,460980,30-03-1995,CT,250/500,1230,1708,11098942,473705,...,0,1,No Police Report Available,76311,487,4689,71135,Suburu,Legacy,1995
2,38,26,460981,05-01-2002,CT,100/300,1697,2044,11191554,612316,...,0,2,Police Report Available,41467,559,1085,39823,BMW,X6,1995
3,37,48,460982,30-06-2010,CT,250/500,1858,2293,15946216,447560,...,2,1,No Police Report Available,58415,17898,968,39549,Ford,F150,2007
4,305,53,460983,19-01-1993,CT,250/500,579,826,0,608758,...,0,3,No Police Report Available,73157,325,13230,59602,Saab,92x,2008

In [185]:
# dropping columns which are not necessary for prediction

to_drop = ['policy_number','policy_bind_date','policy_state','insured_zip','incident_location','incident_date',
           'incident_state','incident_city','insured_hobbies','auto_make','auto_model','auto_year']

df.drop(to_drop, inplace=True, axis=1)

In [186]:
df['incident_hour_of_the_day'] = df['incident_hour_of_the_day'].astype(str).astype(int)

In [187]:
df['incident_hour_of_the_day'].dtype

dtype('int64')

In [188]:
# separating the feature and target columns

X = df.drop('fraud_reported', axis = 1)
y = df['fraud_reported']

In [189]:
# extracting categorical columns
cat_df = X.select_dtypes(include = ['object'])

In [190]:
cat_df.columns

Index(['policy_csl', 'insured_sex', 'insured_education_level',
       'insured_occupation', 'insured_relationship', 'incident_type',
       'collision_type', 'incident_severity', 'authorities_contacted',
       'incident_time_of_day', 'property_damage', 'police_report_available'],
      dtype='object')

In [191]:
# printing unique values of each column
for col in cat_df.columns:
    print(f"{col}: \n{cat_df[col].unique()}\n")

policy_csl:
['100/300' '250/500' '500/1000']

insured_sex:
['MALE' 'FEMALE']

insured_education_level:
['Associate' 'College' 'Masters' 'JD' 'MD' 'High School' 'PhD']

insured_occupation:
['protective-serv' 'exec-managerial' 'farming-fishing' 'sales'
 'machine-op-inspct' 'craft-repair' 'prof-specialty' 'armed-forces'
 'priv-house-serv' 'other-service' 'transport-moving' 'tech-support'
 'handlers-cleaners' 'adm-clerical']

insured_relationship:
['other-relative' 'own-child' 'wife' 'husband' 'unmarried' 'not-in-family']

incident_type:
['Single Vehicle Collision' 'Multi-vehicle Collision' 'Parked Car'
 'Vehicle Theft']

collision_type:
['Rear Collision' 'Side Collision' 'Details not Available'
 'Front Collision']

incident_severity:
['Major Damage' 'Minor Damage' 'Total Loss']

authorities_contacted:
['Police' 'Ambulance' 'Other' 'Fire' 'None']

incident_time_of_day:
['Morning to Noon' 'Night Time' 'Afternoon Hours' 'Early Morning Hours']

property_damage:
['Property Damage' 'No Property Damage' 'Details not Available']

police_report_available:
['Police Report Available' 'No Police Report Available' 'Unknown']

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232025 entries, 0 to 232024
Data columns (total 28 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   months_as_customer           232025 non-null  int16
 1   customer_age                 232025 non-null  int8
 2   policy_csl                   232025 non-null  object
 3   policy_deductable            232025 non-null  int16
 4   policy_annual_premium        232025 non-null  int16
 5   umbrella_limit               232025 non-null  int32
 6   insured_sex                  232025 non-null  object
 7   insured_education_level      232025 non-null  object
 8   insured_occupation           232025 non-null  object
 9   insured_relationship         232025 non-null  object
 10  capital_gains                232025 non-null  int32
 11  capital_loss                 232025 non-null  int32
 12  incident_type                232025 non-null  object
 13  collision_type               232025 non-null  object
 14  incident_severity            232025 non-null  object
 15  authorities_contacted        232025 non-null  object
 16  incident_hour_of_the_day     232025 non-null  int64
 17  incident_time_of_day         232025 non-null  object
 18  number_of_vehicles_involved  232025 non-null  int8
 19  property_damage              232025 non-null  object
 20  bodily_injuries              232025 non-null  int8
 21  witnesses                    232025 non-null  int8
 22  police_report_available      232025 non-null  object
 23  total_claim_amount           232025 non-null  int32
 24  injury_claim                 232025 non-null  int16
 25  property_claim               232025 non-null  int16
 26  vehicle_claim                232025 non-null  int32
 27  fraud_reported               232025 non-null  object
dtypes: int16(5), int32(5), int64(1), int8(4), object(13)
memory usage: 32.3+ MB

In [193]:
cat_df = pd.get_dummies(cat_df, drop_first = True)

In [194]:
num_df = df.select_dtypes(include = ['int16','int8','int32','float64','int64'])

In [195]:
num_df.columns

Index(['months_as_customer', 'customer_age', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'capital_gains',
       'capital_loss', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'property_claim',
       'vehicle_claim'],
      dtype='object')

In [196]:
cat_df.columns

Index(['policy_csl_250/500', 'policy_csl_500/1000', 'insured_sex_MALE',
       'insured_education_level_College',
       'insured_education_level_High School', 'insured_education_level_JD',
       'insured_education_level_MD', 'insured_education_level_Masters',
       'insured_education_level_PhD', 'insured_occupation_armed-forces',
       'insured_occupation_craft-repair', 'insured_occupation_exec-managerial',
       'insured_occupation_farming-fishing',
       'insured_occupation_handlers-cleaners',
       'insured_occupation_machine-op-inspct',
       'insured_occupation_other-service',
       'insured_occupation_priv-house-serv',
       'insured_occupation_prof-specialty',
       'insured_occupation_protective-serv', 'insured_occupation_sales',
       'insured_occupation_tech-support',
       'insured_occupation_transport-moving',
       'insured_relationship_not-in-family',
       'insured_relationship_other-relative', 'insured_relationship_own-child',
       'insured_relationship_unmarried', 'insured_relationship_wife',
       'incident_type_Parked Car', 'incident_type_Single Vehicle Collision',
       'incident_type_Vehicle Theft', 'collision_type_Front Collision',
       'collision_type_Rear Collision', 'collision_type_Side Collision',
       'incident_severity_Minor Damage', 'incident_severity_Total Loss',
       'authorities_contacted_Fire', 'authorities_contacted_None',
       'authorities_contacted_Other', 'authorities_contacted_Police',
       'incident_time_of_day_Early Morning Hours',
       'incident_time_of_day_Morning to Noon',
       'incident_time_of_day_Night Time', 'property_damage_No Property Damage',
       'property_damage_Property Damage',
       'police_report_available_Police Report Available',
       'police_report_available_Unknown'],
      dtype='object')

In [197]:
# combining the Numerical and Categorical dataframes to get the final dataset
X = pd.concat([num_df, cat_df], axis = 1)

In [198]:
X.columns = X.columns.str.replace('/', '_')
X.columns = X.columns.str.replace(' ', '_')
X.columns = X.columns.str.replace('-', '_')

In [199]:
# splitting data into training set and test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [200]:
num_df = X_train[['months_as_customer', 'policy_deductable', 'umbrella_limit',
       'capital_gains', 'capital_loss', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses', 'injury_claim', 'property_claim',
       'vehicle_claim']]

In [201]:
num_df_test = X_test[['months_as_customer', 'policy_deductable', 'umbrella_limit',
       'capital_gains', 'capital_loss', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses', 'injury_claim', 'property_claim',
       'vehicle_claim']]

In [202]:
# Scaling the numeric values in the dataset
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_data = scaler.fit_transform(num_df)

In [203]:
scaled_data_test = scaler.transform(num_df_test)

In [204]:
scaled_num_df = pd.DataFrame(data = scaled_data, columns = num_df.columns, index = X_train.index)
scaled_num_df.head()

,months_as_customer,policy_deductable,umbrella_limit,capital_gains,capital_loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,injury_claim,property_claim,vehicle_claim
183973,0.892779,-0.237212,-0.591875,1.575248,1.174601,0.334613,-0.676122,0.004294,1.343997,0.602176,0.387576,0.942245
12976,1.540778,1.305380,0.271022,1.189847,-0.932388,-0.177205,-0.676122,0.004294,-0.448926,1.191851,-0.960596,0.138164
19357,-0.919422,0.465836,0.374295,-0.537796,0.477586,-0.006599,-0.676122,0.004294,1.343997,0.941271,0.839847,1.059391
44555,-0.381253,-0.691575,-0.821649,-0.784354,-0.976209,0.675825,-0.676122,0.004294,-1.345388,0.290629,-0.479614,-0.656095
46700,-1.040235,0.996861,-1.009462,-0.865999,1.017830,-0.859629,-0.676122,-1.218582,0.447535,-1.011633,-0.226419,1.393611

In [205]:
scaled_num_df_test = pd.DataFrame(data = scaled_data_test, columns = num_df_test.columns, index = X_test.index)
scaled_num_df_test.head()

,months_as_customer,policy_deductable,umbrella_limit,capital_gains,capital_loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,injury_claim,property_claim,vehicle_claim
45481,2.177795,0.385434,-0.469722,-1.655542,-1.686257,-0.177205,-0.676122,-1.218582,1.343997,-1.007857,1.023296,-1.679865
75514,0.255763,1.322208,0.734146,0.478265,0.747771,-0.006599,0.752522,0.004294,1.343997,1.506055,0.593512,1.198474
27784,-0.018813,0.508842,1.500356,1.556904,-0.455156,-0.006599,-0.676122,-1.218582,0.447535,-1.005900,-0.935823,-1.830618
63022,1.804371,-0.659788,-0.876435,0.729626,-0.243217,-2.565688,-0.676122,-1.218582,-1.345388,-1.011913,1.108668,0.400516
203921,-1.095150,0.570545,0.174180,1.280591,0.311662,-1.030235,-0.676122,0.004294,-1.345388,0.426407,1.305076,0.921073

In [206]:
X_train.drop(columns = scaled_num_df.columns, inplace = True)

In [207]:
X_train = pd.concat([scaled_num_df, X_train], axis = 1)

In [208]:
X_test.drop(columns = scaled_num_df_test.columns, inplace = True)

In [209]:
X_test = pd.concat([scaled_num_df_test, X_test], axis = 1)

# Decision Tree

In [210]:
#from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)

DecisionTreeClassifier()

In [211]:
y_pred = dtc.predict(X_test)

In [212]:
dtc_train_acc = accuracy_score(y_train, dtc.predict(X_train))
dtc_test_acc = accuracy_score(y_test, y_pred)

print(f"Training accuracy of Decision Tree is : {dtc_train_acc}")
print(f"Test accuracy of Decision Tree is : {dtc_test_acc}")

print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

Training accuracy of Decision Tree is : 1.0
Test accuracy of Decision Tree is : 0.9943110314272415
[[ 8528   128]
 [  202 49149]]
                   precision    recall  f1-score   support

   Fraud Reported       0.98      0.99      0.98      8656
No Fraud Reported       1.00      1.00      1.00     49351

         accuracy                           0.99     58007
        macro avg       0.99      0.99      0.99     58007
     weighted avg       0.99      0.99      0.99     58007

In [213]:
from fosforml import register_model

In [214]:
X.columns

Index(['months_as_customer', 'customer_age', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'capital_gains',
       'capital_loss', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
       'total_claim_amount', 'injury_claim', 'property_claim', 'vehicle_claim',
       'policy_csl_250_500', 'policy_csl_500_1000', 'insured_sex_MALE',
       'insured_education_level_College',
       'insured_education_level_High_School', 'insured_education_level_JD',
       'insured_education_level_MD', 'insured_education_level_Masters',
       'insured_education_level_PhD', 'insured_occupation_armed_forces',
       'insured_occupation_craft_repair', 'insured_occupation_exec_managerial',
       'insured_occupation_farming_fishing',
       'insured_occupation_handlers_cleaners',
       'insured_occupation_machine_op_inspct',
       'insured_occupation_other_service',
       'insured_occupation_priv_house_serv',
       'insured_occupation_prof_specialty',
       'insured_occupation_protective_serv', 'insured_occupation_sales',
       'insured_occupation_tech_support',
       'insured_occupation_transport_moving',
       'insured_relationship_not_in_family',
       'insured_relationship_other_relative', 'insured_relationship_own_child',
       'insured_relationship_unmarried', 'insured_relationship_wife',
       'incident_type_Parked_Car', 'incident_type_Single_Vehicle_Collision',
       'incident_type_Vehicle_Theft', 'collision_type_Front_Collision',
       'collision_type_Rear_Collision', 'collision_type_Side_Collision',
       'incident_severity_Minor_Damage', 'incident_severity_Total_Loss',
       'authorities_contacted_Fire', 'authorities_contacted_None',
       'authorities_contacted_Other', 'authorities_contacted_Police',
       'incident_time_of_day_Early_Morning_Hours',
       'incident_time_of_day_Morning_to_Noon',
       'incident_time_of_day_Night_Time', 'property_damage_No_Property_Damage',
       'property_damage_Property_Damage',
       'police_report_available_Police_Report_Available',
       'police_report_available_Unknown'],
      dtype='object')

In [215]:
y_pred_series = pd.Series(y_pred)

In [216]:
y_pred

array(['No Fraud Reported', 'Fraud Reported', 'No Fraud Reported', ...,
       'No Fraud Reported', 'No Fraud Reported', 'Fraud Reported'],
      dtype=object)

In [217]:
y_pred_series

0        No Fraud Reported
1           Fraud Reported
2        No Fraud Reported
3           Fraud Reported
4        No Fraud Reported
               ...
58002       Fraud Reported
58003    No Fraud Reported
58004    No Fraud Reported
58005    No Fraud Reported
58006       Fraud Reported
Length: 58007, dtype: object

In [218]:
type(X_train), type(y_train), type(y_pred_series)

(pandas.core.frame.DataFrame,
 pandas.core.series.Series,
 pandas.core.series.Series)

In [224]:
X_train_df = pd.DataFrame(X_train)
#y_train_df = pd.DataFrame(y_train)
y_train_df = pd.DataFrame({'target':y_train.index, 'value':y_train.values}

X_test_df = pd.DataFrame(X_test)
#y_test_df = pd.DataFrame(y_test)
y_test_df = pd.DataFrame({'target':y_test.index, 'value':y_test.values}

#y_pred_df = pd.DataFrame(y_pred)
y_pred_df = pd.DataFrame({'target':y_pred.index, 'value':y_pred.values}

SyntaxError: invalid syntax (2073519496.py, line 5)

In [220]:
type(X_train), type(y_train), type(y_pred_series), type(X_test), type(y_test)

(pandas.core.frame.DataFrame,
 pandas.core.series.Series,
 pandas.core.series.Series,
 pandas.core.frame.DataFrame,
 pandas.core.series.Series)

In [169]:
## registering the model in Fosfor Insight Designer.
register_model(
    model_obj=dtc, 
    session=my_session,
    x_train=X_train_df,
    y_train=y_train_df,
    x_test=X_test_df,
    y_test=y_test_df,
    y_pred=y_pred_df,
    source="Notebook",
    dataset_name="AUTO_INSURANCE_CLAIMS_DATA",
    dataset_source="Snowflake",
    name="Claims_Fraud_DTree_Classifier",
    description="Insurance claims model trained for Fraud Classification",
    flavour="sklearn",
    model_type="classification",
    conda_dependencies=["fosforml==1.1.6"]
)

'error, invalid inputs : expected string or bytes-like object'

# Version 2 of Decision Tree Fraud Classifier Model

In [125]:
dtc = DecisionTreeClassifier(random_state=7)
dtc.fit(X_train, y_train)

DecisionTreeClassifier(random_state=7)

In [126]:
y_pred = dtc.predict(X_test)
y_prob = dtc.predict_proba(X_test)[:,1]

In [127]:
dtc_train_acc = accuracy_score(y_train, dtc.predict(X_train))
dtc_test_acc = accuracy_score(y_test, y_pred)

print(f"Training accuracy of Decision Tree is : {dtc_train_acc}")
print(f"Test accuracy of Decision Tree is : {dtc_test_acc}")

print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

Training accuracy of Decision Tree is : 1.0
Test accuracy of Decision Tree is : 0.9941263851657076
[[ 8305   156]
 [  188 49918]]
                   precision    recall  f1-score   support

   Fraud Reported       0.98      0.98      0.98      8461
No Fraud Reported       1.00      1.00      1.00     50106

         accuracy                           0.99     58567
        macro avg       0.99      0.99      0.99     58567
     weighted avg       0.99      0.99      0.99     58567

In [128]:
## registering the model in Fosfor Insight Designer using same name.
model_reg = register_model(dtc, 
               score, 
               name="Claims_Fraud_DTree_Classifier", 
               description="Insurance claim's model trained for Fraud Classification",
               flavour=MLModelFlavours.sklearn,
               model_type="classification",
               init_script="snowflake-connector-python[pandas]",
               y_true=y_test,
               y_pred=y_pred, 
               prob=y_prob,
               features=X_train.columns,
               input_type="json", 
               explain_ai=True,
               x_train=X_train, 
               x_test=X_test, 
               y_train=y_train.tolist(),
               y_test=y_test.tolist(),
               feature_names=X_train.columns.tolist(),
               original_features=X_train.columns.tolist(),
               feature_ids=X_train.columns,
               kyd=True, kyd_score = True)

Calculating build time metrics

Progress: â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ 100.0%

VBox(children=(HTML(value='<style>.grad_1{background: #2468a4;} .grad_2{ color:white; background: #2468a4;}</sâ€¦