# Initialize Snowflake Session using FosforML

In [1]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [2]:
table_name = 'AUTO_INSURANCE_CLAIMS_DATA'

In [3]:
sf_df = my_session.sql("select * from {}".format(table_name))

In [4]:
type(sf_df)

snowflake.snowpark.dataframe.DataFrame

In [5]:
df = sf_df.to_pandas()

In [6]:
type(df)

pandas.core.frame.DataFrame

### Pandas is a software library written for the Python programming language for data manipulation and analysis. 
### In particular, it offers data structures and operations for manipulating numerical tables and time series.

## Top 5 rows of the dataframe/Table

In [7]:
df.head(5)

,MONTHS_AS_CUSTOMER,CUSTOMER_AGE,POLICY_NUMBER,POLICY_BIND_DATE,POLICY_STATE,POLICY_CSL,POLICY_DEDUCTABLE,POLICY_ANNUAL_PREMIUM,UMBRELLA_LIMIT,INSURED_ZIP,...,POLICE_REPORT_AVAILABLE,TOTAL_CLAIM_AMOUNT_PAID,INJURY_CLAIM,PROPERTY_CLAIM,VEHICLE_CLAIM,AUTO_MAKE,AUTO_MODEL,AUTO_YEAR,FRAUD_REPORTED,POLICY_BIND_DATE_CUSTOM
0,139,37,457069,17-08-2011,CT,250/500,1351,1589,16139812,609322,...,No Police Report Available,48182,538,20189,27455,Dodge,Neon,2005,No Fraud Reported,2011-08-17
1,292,52,429086,27-09-2010,CT,100/300,2216,2669,15406514,438830,...,Police Report Available,64579,11170,5093,48316,Audi,A3,1999,No Fraud Reported,2010-09-27
2,45,20,457562,13-01-2002,CT,100/300,929,1290,5629268,616164,...,No Police Report Available,32420,538,845,31037,Mercedes,E400,2014,No Fraud Reported,2002-01-13
3,49,67,471692,07-02-2012,CT,500/1000,699,970,18501194,445120,...,No Police Report Available,53780,7280,898,45602,Suburu,Legacy,2005,No Fraud Reported,2012-02-07
4,128,45,463009,18-06-2008,CT,100/300,1122,1384,16890664,442936,...,Police Report Available,94511,412,14545,79554,Ford,Escape,2013,No Fraud Reported,2008-06-18

In [10]:
df.shape

(232025, 41)

## Data Basic information

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232025 entries, 0 to 232024
Data columns (total 41 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   MONTHS_AS_CUSTOMER           232025 non-null  int16
 1   CUSTOMER_AGE                 232025 non-null  int8
 2   POLICY_NUMBER                232025 non-null  object
 3   POLICY_BIND_DATE             232025 non-null  object
 4   POLICY_STATE                 232025 non-null  object
 5   POLICY_CSL                   232025 non-null  object
 6   POLICY_DEDUCTABLE            232025 non-null  int16
 7   POLICY_ANNUAL_PREMIUM        232025 non-null  int16
 8   UMBRELLA_LIMIT               232025 non-null  int32
 9   INSURED_ZIP                  232025 non-null  object
 10  INSURED_SEX                  232025 non-null  object
 11  INSURED_EDUCATION_LEVEL      232025 non-null  object
 12  INSURED_OCCUPATION           232025 non-null  object
 13  INSURED_HOBBIES              232025 non-null  object
 14  INSURED_RELATIONSHIP         232025 non-null  object
 15  CAPITAL_GAINS                232025 non-null  int32
 16  CAPITAL_LOSS                 232025 non-null  int32
 17  INCIDENT_DATE                232025 non-null  object
 18  INCIDENT_TYPE                232025 non-null  object
 19  COLLISION_TYPE               232025 non-null  object
 20  INCIDENT_SEVERITY            232025 non-null  object
 21  AUTHORITIES_CONTACTED        232025 non-null  object
 22  INCIDENT_STATE               232025 non-null  object
 23  INCIDENT_CITY                232025 non-null  object
 24  INCIDENT_LOCATION            232025 non-null  object
 25  INCIDENT_HOUR_OF_THE_DAY     232025 non-null  object
 26  INCIDENT_TIME_OF_DAY         232025 non-null  object
 27  NUMBER_OF_VEHICLES_INVOLVED  232025 non-null  int8
 28  PROPERTY_DAMAGE              232025 non-null  object
 29  BODILY_INJURIES              232025 non-null  int8
 30  WITNESSES                    232025 non-null  int8
 31  POLICE_REPORT_AVAILABLE      232025 non-null  object
 32  TOTAL_CLAIM_AMOUNT_PAID      232025 non-null  int32
 33  INJURY_CLAIM                 232025 non-null  int16
 34  PROPERTY_CLAIM               232025 non-null  int16
 35  VEHICLE_CLAIM                232025 non-null  int32
 36  AUTO_MAKE                    232025 non-null  object
 37  AUTO_MODEL                   232025 non-null  object
 38  AUTO_YEAR                    232025 non-null  object
 39  FRAUD_REPORTED               232025 non-null  object
 40  POLICY_BIND_DATE_CUSTOM      232025 non-null  object
dtypes: int16(5), int32(5), int8(4), object(27)
memory usage: 55.3+ MB

## Data Description

In [9]:
df.describe()

,MONTHS_AS_CUSTOMER,CUSTOMER_AGE,POLICY_DEDUCTABLE,POLICY_ANNUAL_PREMIUM,UMBRELLA_LIMIT,CAPITAL_GAINS,CAPITAL_LOSS,NUMBER_OF_VEHICLES_INVOLVED,BODILY_INJURIES,WITNESSES,TOTAL_CLAIM_AMOUNT_PAID,INJURY_CLAIM,PROPERTY_CLAIM,VEHICLE_CLAIM
count,232025.000000,232025.000000,232025.000000,232025.000000,2.320250e+05,232025.000000,232025.00000,232025.000000,232025.000000,232025.000000,232025.000000,232025.000000,232025.000000,232025.000000
mean,126.727736,43.838483,1253.651365,1566.490792,1.040827e+07,47900.608447,-41154.24565,1.475707,0.996712,1.501437,67235.224006,7735.964607,8529.807297,50969.452102
std,91.088378,14.691610,535.036140,656.380264,5.916215e+06,27700.863866,23731.03404,0.701444,0.817630,1.115730,18857.753110,7150.694660,7865.621423,15683.462801
min,7.000000,19.000000,301.000000,430.000000,0.000000e+00,0.000000,-90200.00000,1.000000,0.000000,0.000000,21214.000000,300.000000,0.000000,20004.000000
25%,43.000000,31.000000,793.000000,996.000000,6.166324e+06,23826.000000,-61635.00000,1.000000,0.000000,1.000000,53423.000000,524.000000,1024.000000,37614.000000
50%,111.000000,44.000000,1250.000000,1569.000000,1.075463e+07,48076.000000,-41330.00000,1.000000,1.000000,2.000000,67742.000000,6062.000000,6209.000000,50927.000000
75%,197.000000,57.000000,1698.000000,2134.000000,1.537261e+07,71699.000000,-20555.00000,2.000000,2.000000,2.000000,81082.000000,14017.000000,15316.000000,64362.000000
max,326.000000,69.000000,2430.000000,2700.000000,1.999986e+07,96000.000000,0.00000,4.000000,2.000000,3.000000,121412.000000,21899.000000,26432.000000,81998.000000